@media only screen and (max-width: 910px) {
  .App-title {
    font-size: 7rem;
  }

  .App-header {
    height: 6rem;
  }
}

@media only screen and (max-width: 800px) {
  .artists-container {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .App-title {
    font-size: 6rem;
  }

  .App-header {
    height: 5rem;
  }
}

@media only screen and (max-width: 700px) {
  .App-title {
    font-size: 5rem;
  }

  .App-header {
    height: 4rem;
  }

  .App-header .nav-container {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .App-header .nav-container a {
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 10px 5px 5px;
    font-size: 1rem;
  }

  .artwork-container {
    -webkit-column-count: 1;
    -webkit-column-gap: 5px;
    -moz-column-count: 1;
    -moz-column-gap: 5px;
    column-count: 1;
    column-gap: 5px;
    width: 88%;
  }
}

@media only screen and (max-width: 600px) {
  .App-title {
    font-size: 4rem;
  }

  .App-header {
    height: 3rem;
  }
}

@media only screen and (max-width: 520px) {
  .artists-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .App-title {
    font-size: 3.5rem;
  }

  .App-header {
    height: 3rem;
  }


}

@media only screen and (max-width: 400px) {

  .App-title {
    font-size: 3rem;
  }

  .App-header {
    height: 2.5rem;
  }

  .App-header .nav-container {
    padding: 15px 0;
  }

  .App-header .nav-container a {
    font-size: 0.7rem;
    padding: 5px;
  }
}
