.wrapper {
  padding: 5%;
  max-width: 1000px;
}

hr {
  color: #C32424;
  border-color: #C32424;
  background: #C32424;
}

a {
  color: #0f050c;
  text-decoration: none;
  /* font-weight: bold; */
}

a.active {
  color: #DF029D;
}

a:hover {
  color: #C32424;
}

.App-header a {
  padding: 10px;
}

.App-header {
  background-color: #C32424;
  height: 7rem;
  color: white;
  display: flex;
  padding-left: 5%;
}

.App-title {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
  color: #DF029D
}

.artists-container {
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 5px;
}

.artists-container img {
  width: 250px;
}

.about-container {
  color: #4c0412;
}

.about-container span.about-page__quote {
  /* color: #0f050c; */
  font-style: italic;
}
