.App {

}

.App-header {
  background-color: #C32424;
  height: 9rem;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 9rem;
  font-weight: bold;
  margin: 0;
}

.App-intro {
  font-size: large;
}
