html {
  width: 100vw;
}

.wrapper {
  padding: 10% 5%;
  max-width: 1000px;
}

hr {
  color: #C32424;
  border-color: #C32424;
  background: #C32424;
}

a {
  color: #0f050c;
  text-decoration: none;
  /* font-weight: bold; */
}

a.active {
  color: #DF029D;
}

a:hover {
  color: #C32424;
}

.App-header a {
  padding: 10px;
}

.App-header {
  background-color: #C32424;
  height: 7rem;
  color: white;
  display: flex;
  padding-left: 2%;
}

.App-title {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
  color: #DF029D
}

.artists-container,
.artwork-container {
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  column-count: 3;
  column-gap: 5px;
  width: 100%;
  font-family: 'Cutive Mono', monospace;
}

.avoid-break {
  margin: 0;
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside: avoid;           /* Theoretically FF 20+ */
  break-inside: avoid-column;         /* IE 11 */
  display:table;                      /* Actually FF 20+ */
}

.artwork-container {
  -webkit-column-count: 2;
  -webkit-column-gap: 5px;
  -moz-column-count: 2;
  -moz-column-gap: 5px;
  column-count: 2;
  column-gap: 5px;
  width: 88%;
}

.artists-container img,
.artwork-container img {
  width: 100%;
}

.about-container {
  color: #4c0412;
}

.about-container span.about-page__quote {
  /* color: #0f050c; */
  font-style: italic;
}

/* ARTIST INFO (BIO, ETC) */


.artist-complete__container div {
  margin-bottom: 10px;
}

.artist-complete__dates {
  font-weight: bold;
}

.artist-complete__sources {
  word-wrap: break-word;
}
