/* GENERAL */
html {
  width: 100vw;
}

.wrapper {
  padding: 7% 5%;
  max-width: 1000px;
}

hr {
  color: #C32424;
  border-color: #C32424;
  background: #C32424;
}

a {
  color: #DF029D;
  text-decoration: none;
  /* font-weight: bold; */
}

a.active {
  color: #0f050c;
}

a:hover {
  color: #C32424;
}

/* HEADER */

.App-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #C32424;
  height: 7rem;
  color: white;
  padding-left: 4%;
}

.App-header .nav-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: end;
}

.App-header .nav-container a {
  align-self: flex-end;
  padding: 10px;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.3rem;
}

.App-header .nav-container a:hover {
  color: #8E024B;
}


.App-title {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
  color: #DF029D
}

/* SELECT  */
.artist-select {
  display: inline-block;
  height:30px;
  width: 150px;
  padding: 2px 10px 2px 2px;
  outline: none;
  color: #74646e;
  border: 1px solid #C8BFC4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
  margin-bottom: 15px;
}

/* ARTIST PREVIEW CONTAINERS */

.artists-container,
.artwork-container {
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  column-count: 3;
  column-gap: 5px;
  width: 90%;
  font-family: 'Cutive Mono', monospace;
  margin: auto;
}

.artist__container:hover {
  opacity: .5;
  color: black;
}



/* ARTWORK CONTAINERS */

.artwork-container {
  -webkit-column-count: 2;
  -webkit-column-gap: 5px;
  -moz-column-count: 2;
  -moz-column-gap: 5px;
  column-count: 2;
  column-gap: 5px;
  width: 88%;
}

.artists-container img,
.artwork-container img {
  width: 100%;
}

/* ABOUT PAGE */
.artist__name {
  margin-bottom: 15px;
}

.about-container {
  color: #0f050c;
  margin: auto;
}

.about-container span.about-page__quote {
  color: #4c0412;
  font-style: italic;
}

/* ARTIST INFO (BIO, ETC) */

.artwork-container .artist-complete__container {
  border: 5px solid #DF029D;
  margin-bottom: 10px;
  padding: 0 20px;
}

.artwork-container .artist-complete__container div {
  margin-bottom: 10px;
}

.artist-complete__dates {
  font-weight: bold;
}

.artist-complete__sources {
  word-wrap: break-word;
}

.artwork-container.avoid-break {
  margin: 0;
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside: avoid;           /* Theoretically FF 20+ */
  break-inside: avoid-column;         /* IE 11 */
  display:table;                      /* Actually FF 20+ */
  margin-bottom: 10px;
}
