/* GENERAL */

html {
  width: 100vw;
}

.wrapper {
  padding: 5%;
  max-width: 1000px;
}

hr {
  color: #180D42;
  border-color: #180D42;
  background: #180D42;
}

a {
  text-decoration: none;
  color: #FFEEE8;
}

p a {
  color: #D99100;
}

p a:hover {
  color: #FFEEE8;
}

a.active, a:active {
  color: #D99100;
}

a:hover {
  color: #296665;
}

/* HEADER */

.App-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-color: #180D42;
  height: 7rem;
  color: white;
  padding-left: 4%;
}

.App-header .nav-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: end;
}

.App-header .nav-container a {
  align-self: flex-end;
  padding: 10px;
  font-family: 'Cutive Mono', monospace;
  font-size: 1.3rem;
}

.App-header .nav-container a:hover {
  color: #296665;
}


.App-title {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
  color: #FFEEE8;
}

/* SELECT  */
.artist-select {
  display: inline-block;
  height:30px;
  width: 150px;
  padding: 2px 10px 2px 2px;
  outline: none;
  color: #74646e;
  border: 1px solid #C8BFC4;
  border-radius: 4px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
  background: #fff;
  margin-bottom: 15px;
}

/* ARTIST PREVIEW CONTAINERS */

.artists-container,
.artwork-container {
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  column-count: 3;
  column-gap: 5px;
  width: 90%;
  font-family: 'Cutive Mono', monospace;
  margin: auto;
}

.artist__container {
  position: relative;
}

.artist__container:hover {
  opacity: .8;
}

.artist__container h3.content-details {
  opacity: 0;
  color: #FFEEE8;
  position: absolute;
  bottom: -20%;
  width: 94%;
  background: #180D42;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.artist__container:hover h3.content-details {
  opacity: 1;
  bottom: 0;
}


/* ARTWORK CONTAINERS */

.artwork-container {
  -webkit-column-count: 2;
  -webkit-column-gap: 5px;
  -moz-column-count: 2;
  -moz-column-gap: 5px;
  column-count: 2;
  column-gap: 5px;
  width: 88%;
}

.artists-container img,
.artwork-container img {
  width: 100%;
}

/* ABOUT PAGE */
.artist__name {
  margin-bottom: 15px;
}

.about-container {
  color: #FFEEE8;
  margin: auto;
}

/* ARTIST INFO (BIO, ETC) */

figure {
  margin: 0.5em;
}

figure h4 {
  margin: 0.5em 0;
}

.artwork-container {
  color: #FFEEE8;
}

.artwork-container .artist-complete__container {
  border: 5px solid #D99100;
  margin-bottom: 10px;
  padding: 0 20px;
}

.artwork-container .artist-complete__container div {
  margin-bottom: 10px;
}

.artist-complete__dates {
  font-weight: bold;
}

.artist-complete__sources {
  word-wrap: break-word;
}

.artwork-container.avoid-break {
  margin: 0;
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside: avoid;           /* Theoretically FF 20+ */
  break-inside: avoid-column;         /* IE 11 */
  display:table;                      /* Actually FF 20+ */
  margin-bottom: 10px;
}
